<div class="logo">
    <i class="fa fa-heart"></i>
    <span>Mon Espace Parent</span>
</div>

<ul class="nav-links">
    <li class="nav-item">
        <a href="#!/ajouter-enfant" class="btn-soft-pink" ng-class="{ active: isActive('/ajouter-enfant') }">
            <i class="fa fa-plus-circle"></i> Ajouter un enfant
        </a>
    </li>
   
    <li class="nav-item">
        <a href="#!/gerer-compte" class="btn-soft-blue" ng-class="{ active: isActive('/gerer-compte') }">
            <i class="fa fa-user-cog"></i> Gérer mon compte
        </a>
    </li>
     <li class="nav-item">
        <a href="#!/accueil" ng-class="{ active: isActive('/accueil') }">
            <i class="fa fa-home"></i> Accueil
        </a>

    </li>
    <li class="nav-item">
        <a href="#!/mes-enfants" ng-class="{ active: isActive('/mes-enfants') }">
            <i class="fa fa-child"></i> Mes Enfants
        </a>
    </li>
    
    <li class="nav-item">
        <a href="#!/calendrier" ng-class="{ active: isActive('/calendrier') }">
            <i class="fa fa-calendar"></i> Calendrier
        </a>
    </li>
    <li class="nav-item">
        <a href="#!/conseils" ng-class="{ active: isActive('/conseils') }">
            <i class="fa fa-lightbulb"></i> Conseils & Astuces
        </a>
    </li>
    <li ng-class="{ active: isActive('/chat') }">
        <a href="#!/chat">
            <i class="fa fa-robot"></i>
            <span class="link-text">Assistant AI</span>
        </a>
    </li>
</ul>

<div class="sidebar-footer">
    <p>&copy; 2026 Mon Espace Parent</p>
</div>